<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Volver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body>
  <h1>Formulario de registro</h1> <br>
  <h3>Ingrese sus datos</h3>

  <ion-list>

    <ion-item>
        <ion-input [(ngModel)]='user.username' label="Usuario" label-placement="floating" placeholder="Ingrese nombre de usuario"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]='user.password' label="Constraseña" label-placement="floating" 
          placeholder="Ingrese una contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]='user.nombre' label="Nombre" label-placement="floating" 
          placeholder="Ingrese su nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]='user.apellido' label="Apellido" label-placement="floating" 
          placeholder="Ingrese su apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="user.categoria" placeholder="Seleccione categoría">
        <ion-select-option value="profesor">Profesor</ion-select-option>
        <ion-select-option value="alumno">Alumno</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click)="registrar()" fill="outline"> Registrar </ion-button>
    </ion-item> <br>

    <ion-item>
      <ion-button [routerLink]="['/login']"> Volver </ion-button>
    </ion-item>

  </ion-list>
</body>
</ion-content>
