<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-img src="https://th.bing.com/th/id/R.0619389c81047e33f3dce12c265d9999?rik=WZ%2fxDRkYmPFpIg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-uug_zcbRqIM%2fTZAdK3XAVcI%2fAAAAAAAAAAM%2fL0TIXG8lXTY%2fs1600%2fpato-ya--ez-def.gif&ehk=Z0nnYAEzVvZ6iXV%2bk19YrPMDsCamf7%2fV8iqq1DOaZ6I%3d&risl=&pid=ImgRaw&r=0"></ion-img>
</ion-item>
</ion-content>
