
<ion-content [fullscreen]="true">

  <body>
    
      <div>
  
        <h1>SkeletonAPP</h1>
        <h3>Aqui comienza todo</h3><br>
        <h2>Bienvenido</h2>
       
      </div>
      
      <ion-icon name="qr-code-outline"></ion-icon>
      
  
      <div class="user">
        <ion-input label="Usuario" label-placement="floating" fill="outline" ng-model="user"></ion-input>
      </div>
  
      <div class="pass">
        <ion-input type="Password" label="Clave" label-placement="floating" fill="outline">
        </ion-input>
      </div>
  
      <ion-button class="btn-ingresar" [routerLink]="['/home']">Ingresar</ion-button>
  
  </body>
  
  </ion-content>
  