
<ion-content [fullscreen]="true">

  <body>
    
      <div>
  
        <h1>SkeletonAPP</h1>
        <h3>Aqui comienza todo</h3><br>
        <h2>Bienvenido</h2>
       
      </div>
      
      <ion-img src="assets/img/logo.png" class="logo"></ion-img>
      
   
      <div class="user">
        <ion-input [(ngModel)]="user.usuario" label="user" label-placement="floating" fill="outline"></ion-input>
      </div>
  
      <div class="pass">
        <ion-input [(ngModel)]="user.clave" type="Password" label="Clave" label-placement="floating" fill="outline">
        </ion-input>
      </div>

      <div>
        <ion-label>{{mensaje}}</ion-label>
      </div>
  
      <div *ngIf="spinner">
        <ion-item id="carga">
          <ion-label>Cargando</ion-label>
        </ion-item>

      </div>

      <ion-button (click)="validar()" >Ingresar</ion-button>

      <ion-button (click)="cambiarClave()">Recuperar contraseña</ion-button>


  
      

  </body>
  
  </ion-content>
  